@page "/theme"
@attribute [Authorize(Policy = Policies.IsAdministrator)]
<MudText Typo="Typo.h4">Themer</MudText>
<MudText Class="mb-6" Typo="Typo.subtitle1">Under construction, not 'mobile first' yet ...</MudText>

<MudGrid>
    <MudItem xs=12>
        <MudPaper Class="px-4 py-8 d-flex justify-center mud-width-full">
            <div style="padding: 1em; color: white; background: #1b1b1bff ">Dark/Default/Text<br />Eerie Black<br />#1b1b1bff<br />27,27,27</div>
            <div style="padding: 1em; color: white; background: #ba160cff">Tertiary<br />Int. Orange Engineering<br />#ba160cff<br />186,22,12</div>
            <div style="padding: 1em; color: black; background: #f94d00ff">Primary/Lnk/Btn<br />Tangelo<br />#f94d00ff<br />249,77,0</div>
            <div style="padding: 1em; color: black; background: #ffc40cff">Secondary<br />Mikado Yellow<br />#ffc40cff<br />255,196,12</div>
            <div style="padding: 1em; color: black; background: #c0c0c0ff">Info<br />Silver<br />#c0c0c0ff<br />192,192,192</div>
            <div style="padding: 0.5em; color: white;" />
            <div style="padding: 1em; color: black; background: #f5f5f5ff">Paper<br />White Smoke<br />#f5f5f5ff<br />245,245,245</div>
            <div style="padding: 1em; color: black; background: #f8f8ffff">Background<br />Ghost White<br />#f8f8ffff<br />248,248,255</div>
            <div style="padding: 1em; color: black; background: #fffafaff">Drawer<br />Snow White<br />#fffafaff<br />255,250,250</div>
        </MudPaper>
        <MudPaper Class="px-4 py-8 d-flex justify-center mud-width-full">
            <div style="padding: 1em; color: black; background: #dcdcdcff">Gray Lighter<br />Gainsboro<br />#dcdcdcff<br />220,220,220</div>
            <div style="padding: 1em; color: black; background: #c0c0c0ff">Gray Light<br />Silver<br />#c0c0c0ff<br />192,192,192</div>
            <div style="padding: 1em; color: white; background: #808080ff">Gray<br />Trolley Grey<br />#808080ff<br />128,128,128</div>
            <div style="padding: 1em; color: white; background: #555555ff">Gray Dark<br />Davy's Gray<br />#555555ff<br />85,85,85</div>
            <div style="padding: 1em; color: white; background: #353839ff">Gray Darker<br />Jet<br />#343434ff<br />52,52,52</div>
            <div style="padding: 1em; color: white; background: #242124"><br />242424<br />#242124<br />36,36,36</div>
            <div style="padding: 1em; color: white; background: #080808"><br />Vampire black<br />#080808<br />8,8,8</div>
        </MudPaper>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs=12>
        <MudPaper Class="px-4 py-8 d-flex justify-center mud-width-full">
            <div style="padding: 1em; color:white; background:#264653ff">Dark/Text<br />Drawer/Cancel<br />charcoal<br />#264653ff<br />38,70,83</div>
            <div style="padding: 1em; color:black; background:#2a9d8fff">Tertiary<br />Succes/Save<br />persian-green<br />#2a9d8fff<br />42,157,143</div>
            <div style="padding: 1em; color:black; background:#e9c46aff">Background<br />Info<br />orange-yellow-crayola<br />#e9c46aff<br />233,196,106</div>
            <div style="padding: 1em; color:black; background:#f4a261ff">Secondary<br />Warning<br />sandy-brown<br />#f4a261ff<br />244,162,97</div>
            <div style="padding: 1em; color:black; background:#e76f51ff">Primary/Links<br />Error/Delete<br />burnt-sienna<br />#e76f51ff<br />231,111,81</div>
        </MudPaper>
    </MudItem>
</MudGrid>

<MudGrid Spacing="6">
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="px-4 py-8 d-flex justify-center mud-width-full">
            <MudButton Variant="Variant.Filled" Class="mx-4">Default</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mx-4">Primary</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="mx-2">Secondary</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Tertiary" Class="mx-2">Tertiary</MudButton>
            <MudButton Variant="Variant.Filled" Disabled="true" Class="mx-2">Disabled</MudButton>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="px-4 py-8 d-flex justify-center mud-width-full">
            <MudButton Variant="Variant.Text" Class="mx-2">Default</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Primary" Class="mx-2">Primary</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Secondary" Class="mx-2">Secondary</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Tertiary" Class="mx-2">Tertiary</MudButton>
            <MudButton Variant="Variant.Text" Disabled="true" Class="mx-2">Disabled</MudButton>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12" md="4">
        <MudPaper Class="px-4 py-8 d-flex justify-center mud-width-full">
            <MudButton Variant="Variant.Outlined" Class="mx-2">Default</MudButton>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" Class="mx-2">Primary</MudButton>
            <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Class="mx-2">Secondary</MudButton>
            <MudButton Variant="Variant.Outlined" Color="Color.Tertiary" Class="mx-2">Tertiary</MudButton>
            <MudButton Variant="Variant.Outlined" Disabled="true" Class="mx-2">Disabled</MudButton>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudGrid>
            <MudItem xs="12">
                <MudPaper Class="pa-4" Style="height: 200px;">
                    <MudText>Text Default: The fox jumps over the lazy dog</MudText>
                    <MudLink>Text Link: The fox jumps over the lazy dog link</MudLink>
                    <MudField>Input Field: The fox jumps over the lazy dog</MudField>
                    <MudField Disabled="true">Disabled Field: The fox jumps over the lazy dog</MudField>
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Class="pa-4" Style="height: 200px;"></MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-4" Style="height: 100%">
            <MudGrid>
                <MudItem md="4" xs="12">
                    <MudAlert Severity="Severity.Normal" Class="mb-2 mt-3">Default Square</MudAlert>
                    <MudAlert Severity="Severity.Info" Class="my-2">Info Square</MudAlert>
                    <MudAlert Severity="Severity.Success" Class="my-2">Success Square</MudAlert>
                    <MudAlert Severity="Severity.Warning" Class="my-2">Warning Square</MudAlert>
                    <MudAlert Severity="Severity.Error" Class="my-2">Error Square</MudAlert>
                </MudItem>
                <MudItem md="4" xs="12">
                    <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Class="my-2">Default Square</MudAlert>
                    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Class="my-2">Info Square</MudAlert>
                    <MudAlert Severity="Severity.Success" Variant="Variant.Outlined" Class="my-2">Success Square</MudAlert>
                    <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" Class="my-2">Warning Square</MudAlert>
                    <MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Class="my-2">Error Square</MudAlert>
                </MudItem>
                <MudItem md="4" xs="12">
                    <MudAlert Severity="Severity.Normal" Variant="Variant.Filled" Class="mb-2 mt-3">Default Square</MudAlert>
                    <MudAlert Severity="Severity.Info" Variant="Variant.Filled" Class="my-2">Info Square</MudAlert>
                    <MudAlert Severity="Severity.Success" Variant="Variant.Filled" Class="my-2">Success Square</MudAlert>
                    <MudAlert Severity="Severity.Warning" Variant="Variant.Filled" Class="my-2">Warning Square</MudAlert>
                    <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Class="my-2">Error Square</MudAlert>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="pa-4 d-flex justify-space-around flex-wrap" Style="height: 200px;">
            <MudBadge Content="3" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default" />
            </MudBadge>
            <MudBadge Content="100" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default" />
            </MudBadge>
            <MudBadge Icon="@Icons.Material.Filled.Lock" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                <MudButton Color="Color.Error" Variant="Variant.Filled" DisableElevation="true">Security Issues</MudButton>
            </MudBadge>
            <MudBadge Dot="true" Color="Color.Info" Class="mx-6 my-4">
                <MudText>Bug Reports</MudText>
            </MudBadge>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="pa-4 d-flex justify-space-around flex-wrap" Style="height: 200px;">
            <MudChip>Default</MudChip>
            <MudChip Color="Color.Primary">Primary</MudChip>
            <MudChip Color="Color.Secondary">Secondary</MudChip>
            <MudChip Color="Color.Info">Info</MudChip>
            <MudChip Color="Color.Success">Success</MudChip>
            <MudChip Color="Color.Warning">Warning</MudChip>
            <MudChip Color="Color.Error">Error</MudChip>
            <MudChip Color="Color.Dark">Dark</MudChip>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12" md="4">
        <MudPaper Class="pa-4" Style="height: 200px;"></MudPaper>
    </MudItem>
</MudGrid>

@code {

}
